GEOparse

# Data Processing =========================================================== #
pandas
numpy
scipy
statsmodels
sklearn

# Plots ===================================================================== #
seaborn
plotly
matplotlib
statannotations
patchworklib
d3blocks
cartopy

# Utils ===================================================================== #
tqdm

# ML metrics
torch
torchmetrics